In [25]:
import pandas as pd
corp_info = pd.read_csv('corp.csv', header=0, encoding='euc-kr')
corp_info = corp_info[['종목코드', '종목명', '종가', '상장주식수']]
corp_info['종목코드'].apply(lambda x: 'A'+str(x).zfill(6))
# for idx, c in enumerate(corp_info['종목코드']):
#     corp_info.loc[idx, '종목코드'] = 'A'+str(c).zfill(6)
corp_info

      종목코드         종목명       종가       상장주식수
0     5930        삼성전자    70600  5969782550
1      660      SK하이닉스   106000   728002365
2    35420       NAVER   411500   164263395
3    35720         카카오   130000   445361320
4   207940    삼성바이오로직스   865000    66165000
5    51910        LG화학   790000    70592343
6     5935       삼성전자우    66600   822886700
7     6400       삼성SDI   751000    68764530
8     5380         현대차   214000   213668187
9      270          기아    87000   405363347
10   68270        셀트리온   208500   137934716
11  323410       카카오뱅크    60000   475100237
12    5490       POSCO   297500    87186835
13   12330       현대모비스   252000    94793094
14  105560        KB금융    56000   415807920
15  259960        크래프톤   468000    48956545
16   17670       SK텔레콤   309500    72060143
17   96770     SK이노베이션   239500    92465564
18  377300       카카오페이   169000   130367125
19   28260        삼성물산   116500   186887081
20   66570        LG전자   122500   163647814
21  302440   SK바이오사이언스   258500    76500000
22   55550        신한지주    37950   516599554
23   51900      LG생활건강  1239000    15618197
24   34730          SK   249500    70360297
25   15760        한국전력    23150   641964077
26    3550          LG    93100   157300993
27  352820         하이브   356500    39050817
28   32830        삼성생명    68100   200000000
29   34020       두산중공업    26250   518705584
30   86790      하나금융지주    44450   300242062
31   91990    셀트리온헬스케어    84400   155019169
32   36570       엔씨소프트   595000    21954022
33   18260     삼성에스디에스   157000    77377800
34    9150        삼성전기   160000    74693696
35   33780        KT&G    85500   137292497
36    3670      포스코케미칼   146000    77463220
37   10950       S-Oil    99300   112582792
38   11200         HMM    27000   405392487
39   90430      아모레퍼시픽   187000    58492759
40     810        삼성화재   229000    47374837
41  361610  SK아이이테크놀로지   152000    71297592
42  251270         넷마블   124000    85953502
43    3490        대한항공    30300   347820825
44  247540      에코프로비엠   455900    21919466
45  329180       현대중공업   112500    88773116
46  316140      우리금융지주    13600   728060549
47   10130        고려아연   510000    18870000
48   24110        기업은행    11250   744300587
49   30200          KT    30700   261111808